<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mypassion" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sng1"
            android:label="@string/title_activity_sng1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng2"
            android:label="@string/title_activity_sng2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng3"
            android:label="@string/title_activity_sng3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng4"
            android:label="@string/title_activity_sng4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng5"
            android:label="@string/title_activity_sng5"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng6"
            android:label="@string/title_activity_sng6"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng7"
            android:label="@string/title_activity_sng7"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng8"
            android:label="@string/title_activity_sng8"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng9"
            android:label="@string/title_activity_sng9"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng10"
            android:label="@string/title_activity_sng10"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng11"
            android:label="@string/title_activity_sng11"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng12"
            android:label="@string/title_activity_sng12"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng13"
            android:label="@string/title_activity_sng13"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng14"
            android:label="@string/title_activity_sng14"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng15"
            android:label="@string/title_activity_sng15"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng16"
            android:label="@string/title_activity_sng16"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng17"
            android:label="@string/title_activity_sng17"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng18"
            android:label="@string/title_activity_sng18"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng19"
            android:label="@string/title_activity_sng19"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng20"
            android:label="@string/title_activity_sng20"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng21"
            android:label="@string/title_activity_sng21"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng22"
            android:label="@string/title_activity_sng22"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng23"
            android:label="@string/title_activity_sng23"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng24"
            android:label="@string/title_activity_sng24"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng25"
            android:label="@string/title_activity_sng25"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng26"
            android:label="@string/title_activity_sng26"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng27"
            android:label="@string/title_activity_sng27"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng28"
            android:label="@string/title_activity_sng28"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng29"
            android:label="@string/title_activity_sng29"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng30"
            android:label="@string/title_activity_sng30"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng31"
            android:label="@string/title_activity_sng31"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng32"
            android:label="@string/title_activity_sng32"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng33"
            android:label="@string/title_activity_sng33"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng34"
            android:label="@string/title_activity_sng34"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng35"
            android:label="@string/title_activity_sng35"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng36"
            android:label="@string/title_activity_sng36"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng37"
            android:label="@string/title_activity_sng37"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng38"
            android:label="@string/title_activity_sng38"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng39"
            android:label="@string/title_activity_sng39"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng40"
            android:label="@string/title_activity_sng40"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng41"
            android:label="@string/title_activity_sng41"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng42"
            android:label="@string/title_activity_sng42"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng43"
            android:label="@string/title_activity_sng43"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng44"
            android:label="@string/title_activity_sng44"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng45"
            android:label="@string/title_activity_sng45"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng46"
            android:label="@string/title_activity_sng46"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng47"
            android:label="@string/title_activity_sng47"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng48"
            android:label="@string/title_activity_sng48"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng49"
            android:label="@string/title_activity_sng49"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng50"
            android:label="@string/title_activity_sng50"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng51"
            android:label="@string/title_activity_sng51"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng52"
            android:label="@string/title_activity_sng52"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng53"
            android:label="@string/title_activity_sng53"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng54"
            android:label="@string/title_activity_sng54"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng55"
            android:label="@string/title_activity_sng55"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng56"
            android:label="@string/title_activity_sng56"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng57"
            android:label="@string/title_activity_sng57"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng58"
            android:label="@string/title_activity_sng58"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Sng59"
            android:label="@string/title_activity_sng59"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
